.container {
  position: relative;
}

.controls {
  position: absolute;
  right: 0;
  bottom: 0;
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  gap: var(--space-small);
  margin: var(--space-small) var(--space-small) var(--space-xx-large)
    var(--space-small);
}

.timeline {
  position: absolute;
  right: 0;
  bottom: 0;
  left: 0;
  display: flex;
  justify-content: stretch;
  align-items: center;
  margin: var(--space-small) var(--space-medium);

  > * {
    flex: 1;
  }
}
