.container {
  position: relative;
  width: 100%;
  height: 100%;
}

.actions {
  position: absolute;
  right: 0;
  bottom: 0;
  left: 0;
  display: flex;
  flex-direction: column;
  gap: var(--space-medium);
  padding: var(--space-medium);
  z-index: 50;
  pointer-events: none;

  > * {
    pointer-events: auto;
  }
}

.actionBar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: var(--space-small);
}

.controls {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  gap: var(--space-small);
}

.timeline {
  flex: 1;
  display: flex;
  justify-content: stretch;
  align-items: center;

  > * {
    flex: 1;
  }
}
