.container {
  --panel-width: 480px;

  display: flex;
  height: 100%;

  > :first-child {
    width: calc(100vw - var(--panel-width)) !important;
  }

  > :last-child {
    width: var(--panel-width);
  }
}
